

<div class="jumbotron center">
	<h2> Make Your Dreams Come True by Making<br/> a photo album of Your Visions or Goals!</h2>
	<p style="font-style: italic;"> ...stright to the top into a sky that has no limits...</p>
	<p>Take Action!</p>
</div>