
<div class="jumbotron center">
	
	<% if user_signed_in? %>
		# do something
	<% else %>	
	<h1>The Vision of Future Goals</h1>
	<h2> Make Your Dreams Come True by Making <br/>a Photo Album of Your Visions or Goals!</h2>
	<p style="font-style: italic;"> ...stright to the top into a sky that has no limits...</p>	
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	   </p> 
	   <% end %>
</div>